<main class="p-8">
  <h1 class="text-center text-3xl">
    <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
    SmartShopping
  </h1>
  
  <h2 class="text-center text-stone-100 text-2xl py-6"><span class="bg-emerald-500 px-2 py-1 rounded-md">R$ {{ total.toFixed(2).replace('.', ',') }}</span></h2>

  <form [formGroup]="productForm" (ngSubmit)="addProduct()" class="flex flex-col items-center gap-2">
    <div class="flex flex-col w-full">
      <p-autocomplete
        class="caret-green-500"
        pInputText
        id="product"
        aria-describedby="product"
        [suggestions]="items"
        (completeMethod)="search($event)"
        formControlName="productName"
        placeholder="Digite o produto"
        inputId="product"
        [inputStyle]="{ width: '100%' }"
        [showEmptyMessage]="false"
      />
    </div>

    <span class="flex w-full justify-between">
        <p-inputnumber
          formControlName="productPrice"
          inputId="on_label"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$ 0,00"
          appCurrencyShift
          [inputStyle]="{ width: '9rem' }"
        />
  
        <p-inputnumber
          formControlName="quantity"
          [showButtons]="true" buttonLayout="horizontal"
          spinnerMode="horizontal"
          inputId="horizontal"
          [min]="1"
          [inputStyle]="{ width: '3rem' }"
        >
          <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
          </ng-template>
        </p-inputnumber>

      <p-button icon="pi pi-check" type="submit" [disabled]="productForm.invalid"/>
    </span>
  </form>

    <div class="mt-6">

      @if(productList.length > 0) {
      <div class="card">
          <p-table #dt [value]="productList" (sortFunction)="customSort($event)" [customSort]="true">
           <ng-template #header>
              <th pSortableColumn="name">
                  <div class="flex items-center gap-2">
                      Produto
                      <p-sortIcon field="name" />
                  </div>
              </th>
              <th pSortableColumn="price">
                  <div class="flex items-center gap-2">
                      Preço
                      <p-sortIcon field="price" />
                  </div>
              </th>
              <th pSortableColumn="qtd">
                  <div class="flex items-center gap-2">
                      Qtd
                      <p-sortIcon field="qtd" />
                  </div>
              </th>
           </ng-template>
          <ng-template #body let-product >
            <tr>
              <td>{{ product.name }}</td>
              <td> R$ {{ product.price.toFixed(2).toString().replace('.', ',') }} </td>
              <td>{{ product.qtd }}</td>
              <td>
                <p-button icon="pi pi-trash" severity="danger" (click)="removeProduct(product)">
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>
      }
    </div>
</main>


