<main class="main-section">
  <h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
      <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg>
    SmartShopping
  </h1>

  <h2>R$ {{ total.toFixed(2).replace('.', ',') }}</h2>

  <div class="inputs">
    <input
      #productInputRef
      id="typeahead-template"
      type="text"
      class="form-control col"
      placeholder="Produto"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [selectOnExact]="true"
      (keydown.enter)="focusPriceInput()"
    />

    <span class="price-input">
    <input
      #priceInputRef
      type="text"
      [(ngModel)]="price"
      class="form-control col"
      placeholder="R$"
      (input)="formatPriceInput($event)"
      (keydown.enter)="handleEnterOnPrice()"
    />

      <button (click)="addProduct(model, price)">Add</button>
    </span>

    @if(productList.length > 0) {
      <table class="table table-dark table-striped mt-4">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(item of productList; track $index) {
            <tr>
              <td>{{ item.name }}</td>
              <td>R$ {{ item.price.toString().replace('.', ',') }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="removeProduct($index)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }



  </div>
</main>




