.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
}

h1 {
  font-size: 32px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 24px;

  border-bottom: 1px solid #555555
}

h2 {
  text-align: center;
  color: #00ff66;
}


.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input::placeholder {
  opacity: 0.5;
}

.price-input {
  display: flex;
  gap: 16px;
}

.price-input input {
  flex-grow: 2;
}

.price-input button {
  flex-grow: 1;
  border-radius: 8px;
}

th {
  color: #e1e1e1;
  text-transform: uppercase
}

td, th {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
